{
  "root": true,
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "arrowFunction": true,
    "binaryLiteral": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": false,
    "destructuring": false,
    "forOf": true,
    "generators": true,
    "modules": false, //ES6 modules, not node modules, so this has to be "false" for us
    "objectLiteralComputedProperties": false,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": false,
    "objectLiteralShorthandProperties": false,
    "octalLiterals": true,
    "regexUFlag": false,
    "regexYFlag": false,
    "restParams": false,
    "spread": false,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": false,
    "globalReturn": false,
    "jsx": false,
    "experimentalObjectRestSpread": false
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": false
  },
  "rules": {
    "block-scoped-var": 2,
    "curly": 2,
    "dot-notation": 1,
    "eqeqeq": [1, "smart"],
    "no-alert": 2,
    "no-caller": 1,
    "no-div-regex": 1,
    "no-else-return": 1,
    "no-empty-label": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 1,
    "no-fallthrough": 0,
    "no-floating-decimal": 1,
    "no-implicit-coercion": [2, {"boolean": false, "number": true, "string": true}],
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-iterator": 2,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 2,
    "no-multi-spaces": 0,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 0,
    "no-process-env": 0,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 1,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-void": 2,
    "no-warning-comments": 1,
    "no-with": 2,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": [2, "any"],
    "strict": [2, "global"],
    "init-declarations": 0,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 1,
    "no-undef-init": 1,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,
    "callback-return": [1, ["callback", "cb", "next", "done"]],
    "no-sync": 1,
    "no-restricted-modules": 0,
    "no-process-exit": 2,
    "no-path-concat": 1,
    "no-new-require": 2,
    "no-mixed-requires": 0,
    "handle-callback-err": 1,
    "wrap-regex": 0,
    "spaced-comment": 0,
    "space-unary-ops": 2,
    "space-return-throw-case": 2,
    "space-infix-ops": 0,
    "space-in-parens": [1, "never"],
    "space-before-function-paren": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-after-keywords": [1, "always"],
    "sort-vars": 0,
    "semi": [2, "always"],
    "semi-spacing": 2,
    "quotes": 0,
    "quote-props": [2, "consistent-as-needed"],
    "padded-blocks": 0,
    "operator-linebreak": 0,
    "operator-assignment": [1, "always"],
    "one-var": [2, { "var": "always", "let": "always", "const": "never" }],
    "object-curly-spacing": 0,
    "no-unneeded-ternary": 1,
    "no-underscore-dangle": 0,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-ternary": 0,
    "no-spaced-func": 1,
    "no-new-object": 1,
    "no-nested-ternary": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-mixed-spaces-and-tabs": 2,
    "no-lonely-if": 2,
    "no-inline-comments": 0,
    "no-continue": 0,
    "no-array-constructor": 2,
    "newline-after-var": 0,
    "new-parens": 2,
    "new-cap": 2,
    "max-nested-callbacks": [1, 3],
    "linebreak-style": [2, "unix"],
    "lines-around-comment": 0,
    "key-spacing": 0,
    "indent": [2, 2, {"SwitchCase": 1, "VariableDeclarator": { "var": 2, "let": 2, "const": 3}}],
    "id-match": 0,
    "id-length": 0,
    "func-style": 0,
    "func-names": 1,
    "eol-last": 0,
    "consistent-this": [1, "self"],
    "computed-property-spacing": [1, "never"],
    "comma-style": [1, "last"],
    "comma-spacing": 1,
    "camelcase": [1, {"properties": "always"}],
    "brace-style": 1,
    "block-spacing": [1, "always"],
    "array-bracket-spacing": 0,
    "require-yield": 2,
    "prefer-template": 1,
    "prefer-reflect": 0,
    "prefer-spread": 1,
    "prefer-const": 0,
    "prefer-arrow-callback": 0,
    "object-shorthand": 0,
    "no-var": 2,
    "no-this-before-super": 2,
    "no-dupe-class-members": 2,
    "no-const-assign": 2,
    "no-class-assign": 2,
    "generator-star-spacing": 1,
    "constructor-super": 2,
    "arrow-spacing": 1,
    "arrow-parens": [2, "always"],
    "max-depth": [2, 4],
    "yoda": 0,
    "max-len": [2, 120, 4, {"ignoreComments": true}],
    "max-params": [1, 4],
    "max-statements": 0,
    "no-bitwise": 0,
    "no-plusplus": 0
  }
}